<a href="https://colab.research.google.com/github/KIMJONGIK/Colab/blob/main/Q300.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

#001 ~ 010

In [3]:
data = [1,2,3]
data = np.array(data)
data

array([1, 2, 3])

In [4]:
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [5]:
arr = np.arange(3,30,3)
arr

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27])

In [6]:
np.arange(0,1000, 2)

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102,
       104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128,
       130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154,
       156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180,
       182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206,
       208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232,
       234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258,
       260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284,
       286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310,
       312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336,
       338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362,
       364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388,
       390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414,
       416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440,
       442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466,
       468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492,
       494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518,
       520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544,
       546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570,
       572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596,
       598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622,
       624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648,
       650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674,
       676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700,
       702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726,
       728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752,
       754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778,
       780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804,
       806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830,
       832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856,
       858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882,
       884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908,
       910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934,
       936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960,
       962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986,
       988, 990, 992, 994, 996, 998])

In [7]:
np.arange(0, 1, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [8]:
data = [0, 1, 2, 3, 4, 5]
data = np.array(data)
data.reshape(2,-1)

array([[0, 1, 2],
       [3, 4, 5]])

In [9]:
data = [0, 1, 2, 3, 4, 5]
data = np.array(data)
data.reshape(-1,3)

array([[0, 1, 2],
       [3, 4, 5]])

In [10]:
arr = np.array([
    [0, 1, 2],
    [3, 4, 5]
])
arr.reshape(-1)

array([0, 1, 2, 3, 4, 5])

In [11]:
arr = np.array([
    [0, 1, 2],
    [3, 4, 5]
])
arr.reshape(6)

array([0, 1, 2, 3, 4, 5])

In [12]:
arr = np.array([
    [0, 1, 2],
    [3, 4, 5]
])
arr.flatten()

array([0, 1, 2, 3, 4, 5])

In [13]:
arr = np.arange(3)
arr

array([0, 1, 2])

In [14]:
arr.reshape(3,1)

array([[0],
       [1],
       [2]])

#011~020

In [15]:
np.arange(6).reshape(2,-1)

array([[0, 1, 2],
       [3, 4, 5]])

In [16]:
np.ones(20, dtype=int)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [17]:
np.ones(20, dtype=int).reshape(4,-1)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [18]:
np.ones(100, dtype=int).reshape(10, -1)*255

array([[255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255]])

In [19]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [20]:
np.arange(1,4,1, dtype=np.int32)

array([1, 2, 3], dtype=int32)

In [21]:
data = [1,2,3]
arr = np.ndarray(data, dtype=np.int32)
arr

array([[[29479488,        0,        0],
        [       0,        0,        0]]], dtype=int32)

In [22]:
arr = np.array(['1', '2', '3'])
print(arr.dtype)

<U1

In [23]:
arr = np.array([1,2,3])
arr.astype(np.int16)

array([1, 2, 3], dtype=int16)

In [24]:
a = np.array( [ 255, 300, 128], dtype=np.uint8 )
a

array([255,  44, 128], dtype=uint8)

#021~030

In [25]:
import numpy as np
arr = np.array([1.1, 2.1, 3.1])
arr2 = arr.astype(np.int32)
arr2

array([1, 2, 3], dtype=int32)

In [26]:
np.linspace(0, 10, 20)

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [27]:
arr = np.arange(9).reshape(3, 3)
arr[2:]

array([[6, 7, 8]])

In [28]:
arr = np.arange(9).reshape(3, 3)
arr[2:3]

array([[6, 7, 8]])

In [29]:
arr = np.arange(9).reshape(3, 3)
arr[2]

array([6, 7, 8])

In [30]:
arr = np.arange(9).reshape(3, 3)
arr[-1]

array([6, 7, 8])

In [31]:
arr = np.arange(9).reshape(3, 3)
arr[-1:]

array([[6, 7, 8]])

In [32]:
arr = np.arange(25).reshape(5, 5)
arr[3,2]

17

In [33]:
arr = np.arange(25).reshape(5, 5)
arr[3][2]

17

In [34]:
arr = np.arange(25).reshape(5, 5)
arr[1,1:5]

array([6, 7, 8, 9])

In [35]:
arr = np.arange(25).reshape(5, 5)
arr[1,1:]

array([6, 7, 8, 9])

In [36]:
arr = np.arange(25).reshape(5, 5)
arr[:,0:2]

array([[ 0,  1],
       [ 5,  6],
       [10, 11],
       [15, 16],
       [20, 21]])

In [37]:
arr = np.arange(25).reshape(5, 5)
arr[:,:2]

array([[ 0,  1],
       [ 5,  6],
       [10, 11],
       [15, 16],
       [20, 21]])

In [38]:
arr = np.arange(25).reshape(5, 5)
arr[1:3,1:3]

array([[ 6,  7],
       [11, 12]])

In [39]:
arr = np.arange(25).reshape(5, 5)
arr[[0,4]][:,[0,3]]

array([[ 0,  3],
       [20, 23]])

#031~040

In [40]:
data = [1, 2, 3]
arr = np.array(data) * 10
arr

array([10, 20, 30])

In [41]:
data = [1, 2, 3]
arr = np.array(data)**2
arr

array([1, 4, 9])

In [42]:
data = [1, 2, 3]
arr = np.array(data) * np.array(data)
arr

array([1, 4, 9])

In [43]:
data = [1, 2, 3]
arr = np.sqrt(data)
arr

array([1.        , 1.41421356, 1.73205081])

In [44]:
data = [1, 2, 3]
arr = np.array(data) ** 0.5
arr

array([1.        , 1.41421356, 1.73205081])

In [45]:
score = np.array([
    [10, 20],  # 중간고사
    [14, 16]   # 기말고사
])
score.mean(axis=0)

array([12., 18.])

In [46]:
score = np.array([
    [10, 20],  # 중간고사
    [14, 16]   # 기말고사
])
score.std(axis=1)

array([5., 1.])

In [47]:
a = np.arange(   4).reshape(2,2)
b = np.arange(1, 5).reshape(2,2)
a@b

array([[ 3,  4],
       [11, 16]])

In [48]:
a = np.arange(   4).reshape(2,2)
b = np.arange(1, 5).reshape(2,2)
np.matmul(a,b)

array([[ 3,  4],
       [11, 16]])

In [49]:
arr = np.arange(10)
arr[arr%2==0]

array([0, 2, 4, 6, 8])

In [50]:
arr = np.arange(10)
arr[arr%2==1]

array([1, 3, 5, 7, 9])

In [51]:
arr = np.arange(10)
arr[ (arr>3) & (arr<7) ]

array([4, 5, 6])

#041~050

In [52]:
arr = np.array([-1, 2, -3, 4])
arr[arr<0]

array([-1, -3])

In [53]:
arr = np.array([-1, 2, -3, 4])
np.abs(arr)

array([1, 2, 3, 4])

In [54]:
abs(arr)

array([1, 2, 3, 4])

In [55]:
arr[arr<0] = -arr[arr<0]
arr

array([1, 2, 3, 4])

In [56]:
arr = np.array([-1, 2, -3, 4])
arr[arr>=0] = arr[arr>=0] +10
arr[arr<0] = arr[arr<0] -10
arr

array([-11,  12, -13,  14])

In [57]:
arr = np.array([-1, 2, -3, 4])
np.where(arr >= 0, arr + 10, arr - 10)

array([-11,  12, -13,  14])

In [58]:
arr = [1, 2, 3, 4, 5]
np.random.choice(arr,5, replace=False)

array([3, 1, 5, 2, 4])

In [59]:
arr = np.array([1, 2, 3, 4, 5])
np.argmin(arr)

0

In [60]:
arr = np.array([1, 2, 3, 4, 5])
np.argmax(arr)

4

In [61]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
arr.sort()
arr

array([1, 2, 3, 4, 5, 6, 7, 8])

In [62]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
np.sort(arr)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [63]:
arr1 = np.array([1, 2])
arr2 = np.array([3, 4])
np.vstack([arr1,arr2])

array([[1, 2],
       [3, 4]])

In [64]:
arr = np.array([ [1, 2], [3, 4] ])
arr.flatten()

array([1, 2, 3, 4])

#051~060

In [65]:
import pandas as pd
from pandas import Series

In [66]:
data = [100, 200, 300]
s = Series(data)
print(s)

0    100
1    200
2    300
dtype: int64

In [67]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s)

철수    100
영희    200
아름    300
dtype: int64

In [68]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data)
print(s)
s.index = index
print(s)

0    100
1    200
2    300
dtype: int64
철수    100
영희    200
아름    300
dtype: int64

In [69]:
score = {
    "철수": 100,
    "영희": 200,
    "아름": 300
}

s = Series(score)
print(s)

철수    100
영희    200
아름    300
dtype: int64

In [70]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.index)

Index(['철수', '영희', '아름'], dtype='object')

In [71]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.values)

[100 200 300]

In [72]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.to_dict())

{'철수': 100, '영희': 200, '아름': 300}

In [73]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.to_excel('data.xlsx')

In [74]:
data = pd.read_excel('data.xlsx', index_col=0)[0]
data

철수    100
영희    200
아름    300
Name: 0, dtype: int64

#061~070

In [75]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.dtype)

int64

In [76]:
data = [  10,  "가" ]
s = Series( data )
print(s.dtype)

object

In [77]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.index.dtype)

object

In [78]:
data = {
    "2020-12-11": 73400,
    "2020-12-10": 72900,
    "2020-12-09": 73900,
    "2020-12-08": 71700,
    "2020-12-07": 72900
}
s = Series(data)
s.name = "종가"
s.index.name = "날짜"
s

날짜
2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: 종가, dtype: int64

In [79]:
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s.to_dict()

{'apple': 1500, 'banana': 3000}

In [80]:
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s.index.name='icecream'
s

icecream
apple     1500
banana    3000
dtype: int64

In [81]:
s = pd.Series(data=[1, 2, 3])
s.name = 'number'
s

0    1
1    2
2    3
Name: number, dtype: int64

In [82]:
s = pd.Series(data=[1, 2, np.NaN])
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [83]:
s = pd.Series([1, 2, 3])
np.array(s.index)

array([0, 1, 2])

In [84]:
s = pd.Series([1, 2, 3])
print(s)
s.array

0    1
1    2
2    3
dtype: int64

<PandasArray>
[1, 2, 3]
Length: 3, dtype: int64

#071~080

In [85]:
s = pd.Series([1, 2, 'python'])
print(s.dtype)

object

In [86]:
s = pd.Series(['1', '2', '3'])
s.astype('int32')

0    1
1    2
2    3
dtype: int32

In [87]:
tickers = ["BTC", "XRP", "ETH"]
prices = [50000, 1, 4000]

s = Series(data=prices, index=tickers, dtype='float')
s

BTC    50000.0
XRP        1.0
ETH     4000.0
dtype: float64

In [88]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s['영희']

200

In [89]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s.iloc[1]

200

In [90]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s.loc['영희']

200

In [91]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s.영희

200

In [92]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)

print(s.iloc[0:2])
print(s.iloc[:2])
print(s.loc["철수":"영희"])
print(s.loc[:'영희'])
print(s[0:2])
print(s[ :2])
print(s["철수":"영희"])
print(s[:"영희"])
print(s.values[:2])

철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
철수    100
영희    200
dtype: int64
[100 200]

In [93]:
data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = Series(data=data, index=index)

print(s.index[:3])
print(s[:3].index)

Index(['08/01', '08/02', '08/03'], dtype='object')
Index(['08/01', '08/02', '08/03'], dtype='object')

In [94]:
data = [100, 200, 300, 400, 500, 600] 
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"] 
s = Series(data=data, index=index)

print(s.iloc[::2])
print(s.iloc[1::2])
print(s.iloc[[0, 2, 4]])

print(s[["08/01", "08/03", "08/05"]])
print(s["08/02":"08/05":2])
print(s[:"08/05":2])
print(s["08/01"::2])
print(s[::2])

08/01    100
08/03    300
08/05    500
dtype: int64
08/02    200
08/04    400
08/06    600
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/02    200
08/04    400
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64
08/01    100
08/03    300
08/05    500
dtype: int64

#081~090

In [95]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s['순이']=400
s

철수    100
영희    200
아름    300
순이    400
dtype: int64

In [96]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s.drop('철수')

영희    200
아름    300
dtype: int64

In [97]:
s

철수    100
영희    200
아름    300
dtype: int64

In [98]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s.drop('철수', inplace=True)
s

영희    200
아름    300
dtype: int64

In [99]:
#unique
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)
s.unique()

array(['전기,전자', '운수장비', '서비스업'], dtype=object)

In [100]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
s.unique()

array([ 9000,  8000, 10000])

In [101]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
s.value_counts()

9000     3
8000     1
10000    1
dtype: int64

In [102]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)
s.value_counts()

전기,전자    2
서비스업     2
운수장비     1
dtype: int64

In [103]:
data = {
    "매출액":300,
    "PER":np.nan,
    "PBR":2.0
}
s = Series(data)
s

매출액    300.0
PER      NaN
PBR      2.0
dtype: float64

#091~100

In [104]:
data = [100, 300, 200]
index = ["08/01", "08/02", "08/03"]
s = Series(data, index)
print(s.iloc[ [0, 2, 1]])
print(s.loc[ ["08/01", "08/03", "08/02"]])

08/01    100
08/03    200
08/02    300
dtype: int64
08/01    100
08/03    200
08/02    300
dtype: int64

In [105]:
data = np.random.randint(10, size=4)
s = Series(data)
s.sort_values()

3    0
2    3
0    6
1    8
dtype: int64

In [106]:
s.sort_values(ascending=False)

1    8
0    6
2    3
3    0
dtype: int64

In [107]:
s = Series(np.random.randint(10, size=4), ["b", "c", "a", "d"])
s.sort_index()

a    8
b    4
c    9
d    5
dtype: int64

In [108]:
data = [100, 300, 200]
s = Series(data)
s**4

0     100000000
1    8100000000
2    1600000000
dtype: int64

In [109]:
np.power(s,4)

0     100000000
1    8100000000
2    1600000000
dtype: int64

In [110]:
data = [100, 300, 200]
s0 = Series(data, ["a", "c", "b"])
s1 = Series(data, ["a", "b", "c"])
print(s0 + s1)

a    200
b    500
c    500
dtype: int64

In [111]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
조건 = s < 52000
s[조건]

5/1    51500
5/2    51200
dtype: int64

In [112]:
s[s<52000]

5/1    51500
5/2    51200
dtype: int64

In [113]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s[s.index > '5/1']

5/2    51200
5/3    52500
dtype: int64

In [114]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s[(s>=51400) & (s<=53000)]

5/1    51500
5/3    52500
dtype: int64

In [115]:
s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
s[s<=52000].index.tolist()

['5/1', '5/2']

#101~110

In [116]:
data = {
    '2020-12-11':73400,
    '2020-12-10':72900,
    '2020-12-09':73900,
    '2020-12-08':71700,
    '2020-12-07':72900
}
s = Series(data)
s.sum()

364800

In [117]:
data = {
    '2020-12-11':73400,
    '2020-12-10':72900,
    '2020-12-09':73900,
    '2020-12-08':71700,
    '2020-12-07':72900
}
s = Series(data)
s.mean()

72960.0

In [118]:
data = {
    '2020-12-11':1.01,
    '2020-12-10':0.99,
    '2020-12-09':1.03,
    '2020-12-08':1.02,
    '2020-12-07':1
}
s = Series(data)
s.product()

1.05049494

In [119]:
data = {
    '2020-12-11':73400,
    '2020-12-10':72900,
    '2020-12-09':73900,
    '2020-12-08':71700,
    '2020-12-07':72900
}
s = Series(data)
print(s.max())
print(s.min())

73900
71700

In [120]:
s.pct_change()

2020-12-11         NaN
2020-12-10   -0.006812
2020-12-09    0.013717
2020-12-08   -0.029770
2020-12-07    0.016736
dtype: float64

In [121]:
s.cummax()

2020-12-11    73400
2020-12-10    73400
2020-12-09    73900
2020-12-08    73900
2020-12-07    73900
dtype: int64

In [122]:
s.cummin()

2020-12-11    73400
2020-12-10    72900
2020-12-09    72900
2020-12-08    71700
2020-12-07    71700
dtype: int64

In [123]:
s.cumprod()

2020-12-11                  73400
2020-12-10             5350860000
2020-12-09        395428554000000
2020-12-08   -8541260825619103232
2020-12-07   -6514723640420366336
dtype: int64

In [124]:
s.rolling(window=1).mean()

2020-12-11    73400.0
2020-12-10    72900.0
2020-12-09    73900.0
2020-12-08    71700.0
2020-12-07    72900.0
dtype: float64

In [125]:
s.rolling(window=2).mean()

2020-12-11        NaN
2020-12-10    73150.0
2020-12-09    73400.0
2020-12-08    72800.0
2020-12-07    72300.0
dtype: float64

In [126]:
s.rolling(window=2).sum()/2

2020-12-11        NaN
2020-12-10    73150.0
2020-12-09    73400.0
2020-12-08    72800.0
2020-12-07    72300.0
dtype: float64

#111~120

In [127]:
data = [1, 2, 3, 4, np.nan]
s = Series(data=data)
s.count()

4

In [128]:
s.isna().value_counts()

False    4
True     1
dtype: int64

In [129]:
data = ["100", "200", "300"]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.astype(np.int32)

철수    100
영희    200
아름    300
dtype: int32

In [130]:
data = ["100,000", "200,000", "300,000"]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.str.replace(',', '').astype(np.int32)

철수    100000
영희    200000
아름    300000
dtype: int32

In [131]:
s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
s.str.replace('세','').astype(np.int32)

김대리    30
이과장    40
박차장    50
dtype: int32

In [132]:
s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s.reindex(['a','b', 'c', 'd'])

a    3
b    4
c    2
d    1
dtype: int64

In [133]:
s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s.reindex(s.index.sort_values())

a    3
b    4
c    2
d    1
dtype: int64

In [134]:
s = pd.Series([1, 2, 3])
s.tolist()

[1, 2, 3]

In [135]:
list(s)

[1, 2, 3]

In [136]:
s = pd.Series([1, 2, 3])
s.to_dict()

{0: 1, 1: 2, 2: 3}

In [137]:
dict(s)

{0: 1, 1: 2, 2: 3}

In [138]:
s = pd.Series([1, 2, 3, np.nan])
s.dropna()

0    1.0
1    2.0
2    3.0
dtype: float64

In [139]:
s = pd.Series(["1,234", "5,678", "9,876"])
def a(x):
  return x.replace(",", "")
s.map(a)

0    1234
1    5678
2    9876
dtype: object

In [140]:
s = pd.Series(["1,234", "5,678", "9,876"])
s.map(lambda x:x.replace(',',''))

0    1234
1    5678
2    9876
dtype: object

In [141]:
s = pd.Series([10, 100, 1000])
s.apply(np.log10)

0    1.0
1    2.0
2    3.0
dtype: float64

#121~130

In [142]:
data = [1, 2, 3, 4, np.nan]
s = Series(data=data)
s.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [143]:
data = range(1, 11)
s = Series(data=data)
s.nlargest(3)

9    10
8     9
7     8
dtype: int64

In [144]:
data = range(1, 11)
s = Series(data=data)
s.nsmallest(3)

0    1
1    2
2    3
dtype: int64

In [145]:
from datetime import datetime
s = pd.Series([datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)])
s.dt.year

0    2020
1    2021
2    2022
dtype: int64

In [146]:
index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s.index.year.tolist()

[2020, 2021, 2022]

In [147]:
s = pd.Series([datetime(2022,1,1), datetime(2022,1,2), datetime(2022,1,3)])
s.dt.day

0    1
1    2
2    3
dtype: int64

In [148]:
index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s.index.strftime("%Y-%m-%d 00:00:00")

Index(['2020-01-01 00:00:00', '2021-01-01 00:00:00', '2022-01-01 00:00:00'], dtype='object')

In [149]:
s = pd.Series(["000020", "000040", "005930"])
s.str.cat(sep=';')

'000020;000040;005930'

In [150]:
s = pd.Series(["000020", "000040", "005930"])
'A'+s

0    A000020
1    A000040
2    A005930
dtype: object

#DataFrame

#101~110

In [161]:
name = ['김은수', '박정민', '이하나']
age = [35, 30, 28]
responsibility = ['과장', '대리', '대리']
df = pd.DataFrame({"name":name, "age":age, "responsibility":responsibility})
df.columns = ['이름', '나이', '직책']
df

    이름  나이  직책
0  김은수  35  과장
1  박정민  30  대리
2  이하나  28  대리

In [162]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005760   ACTS  1185  1.28

In [166]:
df = df.set_index('종목코드')
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [169]:
index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, columns=columns, index=index)
df

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

In [171]:
pd.DataFrame(data=np.arange(8).reshape(2,4))

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

In [172]:
index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df.reset_index()

    index    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

In [173]:
df.index

Index(['037730', '036360', '005760'], dtype='object')

In [175]:
df.columns.tolist()

['종목명', '현재가']

#101~110

In [177]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [178]:
df.현재가

종목코드
037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [179]:
df['현재가']

종목코드
037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [180]:
df[['현재가']]

         현재가
종목코드
037730  1510
036360  1790
005760  1185

In [182]:
df[['현재가','등락률']]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [183]:
df.iloc[0]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [184]:
df.iloc[[0]]

       종목명   현재가   등락률
종목코드
037730  3R  1510  7.36

In [185]:
df.iloc[0,:]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [186]:
df.iloc[0:1]

       종목명   현재가   등락률
종목코드
037730  3R  1510  7.36

In [187]:
df.iloc[[-1]]

         종목명   현재가   등락률
종목코드
005760  ACTS  1185  1.28

In [188]:
df.iloc[-1:]

         종목명   현재가   등락률
종목코드
005760  ACTS  1185  1.28

In [192]:
df.iloc[[0,2]]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [193]:
df.loc["037730"]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [195]:
df.loc[["037730", "005760"]]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [196]:
df.iloc[0, 2]

7.36

In [198]:
df.iat[0, 2]

7.36

In [199]:
df.at["037730", "등락률"]

7.36

#111~120